.container {
  padding: 0 1rem;
}

section {
  margin: 3rem 0 7rem 0;
}

@media (min-width: 640px) {
  .container {
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 1120px;
    margin: 0 auto;
  }
}
